// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #F85E00;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$brown:  #7F534B;
$beige: #CEB992;
$amaranth: #932F6D;
$melon: #FCB1A6;
$dark-purple: #420039;

$ruby-red: #9B1D20;
$bright-red: #DD1155;
